<div id="completed-button-for-task-<%= task.id %>">
    <!-- task_completionのcreateメソッド（Post）のパスにtaskのidを渡す。
    form: { data: { turbo: true } }は、このフォーム送信をTurbo経由で処理してね -->

    <!-- task_completionsコントローラーに、@task = Task.find(params[:task_id])と書いてある。-->
  <%= button_to task_completions_path(task_id: task.id), method: :post, form: { data: { turbo: true } }, class: 'completed-btn' do %>
  
    <% if current_user.completed?(task) %>
      <i class="fa-solid fa-circle-check"></i>
    <% else %>
      <i class="fa-regular fa-circle-check"></i>
    <% end %>

  <% end %>
</div>