<section id="footer" class="footer-bottom">
  <div class="tab-menu">

    <%= link_to root_path,
        class: "tab-item #{current_page?(root_path) ? 'active' : ''}" do %>
      <i class="fa-regular fa-house"></i>
      <span>ホーム</span>
    <% end %>

    <%= link_to favorites_path,
        class: "tab-item #{current_page?(favorites_path) ? 'active' : ''}" do %>
      <i class="fa-solid fa-music"></i>
      <span>音声リスト</span>
    <% end %>

    <%= link_to booklists_path,
        class: "tab-item #{current_page?(booklists_path) ? 'active' : ''}" do %>
      <i class="fa-solid fa-book-bookmark"></i>
      <span>マイテキスト</span>
    <% end %>

  </div>
</section>