<section id="footer" class="footer-bottom">
  <div class="tab-menu">

    <%= link_to homeworks_path,
        class: "tab-item #{current_page?(homeworks_path) ? 'active' : ''}" do %>
      <i class="fa-regular fa-house"></i>
      <span>ホーム</span>
    <% end %>

    <%= link_to '#',
        class: "tab-item #{current_page?('#') ? 'active' : ''}" do %>
        <i class="fa-solid fa-user-graduate"></i>
      <span>マイホームワーク</span>
    <% end %>

      <%= link_to '#',
        class: "tab-item #{current_page?('#') ? 'active' : ''}" do %>
        <i class="fa-solid fa-list"></i>
      <span>ブックリスト</span>
    <% end %>

    <%= link_to '#',
        class: "tab-item #{current_page?('#') ? 'active' : ''}" do %>
      <i class="fa-solid fa-chart-line"></i>
      <span>完了状況</span>
    <% end %>

  </div>
</section>