.top {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(to bottom, #ffffff, #fff7ed);
  animation: fadeIn 0.8s ease-out;
}

.top .top-container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  //縦並びにする
  align-items: center;
}


.top-sub-title {
  font-size: 14px;
  color: #777;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}


.top-main-title {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 12px;
  color: #222;
}

.main-title span {
  color: #f97316;
}

.main-bottom {
  font-size: 1.1rem;
  color: #777;
  margin-bottom: 30px;
}

.cta-buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 280px;
}


.top-btn {
  padding: 14px 22px;
  border-radius: 12px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  transition: 0.2s;
  text-decoration: none;
}

/* メインボタン */
.btn-primary {
  background: #f97316;
  color: white;
}

.btn-primary:hover {
  background: #ea580c;
  transform: translateY(-2px);
}

/* サブボタン */
.btn-secondary {
  background: #f3f4f6;
  color: #333;
}

.btn-secondary:hover {
  background: #e5e7eb;
}


@keyframes fadeIn {
  //@keyframesはCSSで「アニメーションの動きの流れ（途中の変化）」を定義するためのルール
  from {
    opacity: 0;
    transform: translateY(10px);
    //下から上にふわっと浮きがある。
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}